.job-post-company {
    padding-top: 120px;
}
.single-job-items {
    padding: 10px 36px 30px;
    box-shadow: 0px 22px 20px 0px rgb(34 41 72 / 5%);
    margin-bottom: 70px;
    height: 150px;
}

.section-overly::before {
    position: absolute;
    content: "";
    background-color: rgba(31,43,123,0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;}
.slider-area{
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.section-overly{
    position: relative;
    z-index: 0;
}
.slider-area .hero-cap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}
    .single-job-items .job-tittle a h4 {
        color: #28395a;
        font-size: 24px;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
    .single-job-items .job-tittle a h4:hover {
        color: #8b92dd;
    }
    .single-job-items .company-img img {
        overflow: hidden;
        float: left;
        margin-right: 32px;
        z-index: 999;
    }
        .job-items ul {
            position: absolute;
            left: 0;
            right: 800px;
            text-align: center;
        }
        .single-job-items .job-tittle ul li {
            display: inline-block;
            margin-right: 48px;
            font-size: 15px;
            color: #808080;
            line-height: 1.8;
        }
        .mb-50{
            margin-bottom: 50px;
        }
        .small-section-tittle h4 {
            color: #28395a;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 20px;
        }
        p {
            font-family: "Muli",sans-serif;
            color: #506172;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 15px;
            font-weight: normal;
        }
        .post-details3 {
            padding: 30px 30px 30px 30px;
            border: 1px solid #ededed;
        }
        .post-details3 ul {
            margin: 0px;
            padding: 0px;
        }
        .post-details3 ul li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
        }
        .post-details3 ul li:last-child {
            margin-bottom: 50px;}
       .apply-btn2 .btn{
            
                background-color: #fb246a !important;
              
                text-transform: capitalize;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 0;
                
                padding: 27px 44px;
                border-radius: 0px;
               
                cursor: pointer;
                transition: color 0.4s linear;
                position: relative;
                z-index: 1;
                border: 0;
                overflow: hidden;
                margin: 0;
           
        }
        .post-details4 span {
            color: #5b5c6e;
            font-weight: 700;
            margin-bottom: 10px;
            display: block;
            font-size: 18px;
        }
        .post-details4 ul li {
            color: #5b5c6e;
            font-weight: 700;
            font-size: 18px;
            display: block;
        }
        .post-details4 ul li span {
            color: #5b5c6e;
            font-weight: 400;
            font-size: 16px;
            display: inline-block;
            padding-left: 18px;
        }


<<<<<<< HEAD
a{text-decoration: none;
color: #fff;}

footer{background: #000;}
=======
        a{text-decoration: none;}
>>>>>>> 522cc7ad4b23ccc9b7a888de47bb2d0081df4ce5
