.forms{

    width:70%;
    margin-left:15%;
    margin-top: 2%;
}

label{font-weight: bold;}


.reg-btn{ width:100%;
    border: 2px #fa246a solid;
    color: #fff;
    background: #fa246a;
    font-weight: bold;
    font-size: larger;}
    
.reg-btn:hover{ 
        background: #4c5595;
}

a{text-decoration: none;}
